{% extends "base.html" %}
{% block content %}

<form method="post">
    {% csrf_token %}
  
    <h3 class="mb-4">Book {{ vehicle.name }}</h3>

    <!-- Service Type -->
    <label class="fw-semibold">Service Type</label>
    <select name="service_type" class="form-select mb-3" required>
        <option value="">Select service</option>
        <option value="hour">Hourly (Max 10 hours)</option>
        <option value="day">Daily (Max 3 days)</option>
    </select>

    <!-- Booking Date -->
    <label class="fw-semibold">Booking Date</label>
    <input type="date" name="booking_date" class="form-control mb-3" required>

    <!-- Start Time -->
    <label class="fw-semibold">Start Time</label>
    <input type="time" name="start_time" class="form-control mb-3" required>

    <!-- Hours -->
    <div id="hour-field" style="display:none;">
        <label class="fw-semibold">Total Hours (Max 10)</label>
        <input type="number" name="hours" min="1" max="10"
               class="form-control mb-3">
    </div>

    <!-- Days -->
    <div id="day-field" style="display:none;">
        <label class="fw-semibold">Total Days (Max 3)</label>
        <input type="number" name="days" min="1" max="3"
               class="form-control mb-3">
    </div>

    <div class="alert alert-warning">
        ⏰ Max 10 hours / 3 days<br>
        ⚠️ Late fine: Rs 500 per hour
    </div>

    <button class="btn btn-dark w-100">
        Confirm Booking
    </button>
</form>
<script>
    const serviceSelect = document.querySelector('[name="service_type"]');
    const hourField = document.getElementById('hour-field');
    const dayField = document.getElementById('day-field');

    serviceSelect.addEventListener('change', function () {
        hourField.style.display = this.value === 'hour' ? 'block' : 'none';
        dayField.style.display = this.value === 'day' ? 'block' : 'none';
    });
</script>


{% endblock %}