{% extends "base.html" %}
{% block content %}
<p><strong>Service:</strong> {{ booking.get_service_type_display }}</p>
<p><strong>Status:</strong> {{ booking.get_status_display }}</p>
<p><strong>Start:</strong> {{ booking.booking_date }} {{ booking.start_time }}</p>
<p><strong>Expected End:</strong> {{ booking.expected_end_at }}</p>

{% if booking.status == 'active' %}
    <p class="fw-bold text-success">
        ⏳ Time Remaining:
        <span id="timer-{{ booking.id }}"></span>
    </p>

    <script>
        startCountdown(
            "{{ booking.id }}",
            "{{ booking.expected_end_at|date:'c' }}"
        );
    </script>
{% endif %}


<script>
function startCountdown(id, endTime) {
    const el = document.getElementById(`timer-${id}`);
    const end = new Date(endTime).getTime();

    setInterval(() => {
        const now = new Date().getTime();
        const diff = end - now;

        if (diff <= 0) {
            el.innerText = "Expired";
            return;
        }

        const h = Math.floor(diff / (1000 * 60 * 60));
        const m = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
        const s = Math.floor((diff % (1000 * 60)) / 1000);

        el.innerText = `${h}h ${m}m ${s}s`;
    }, 1000);
}

startCountdown(
    "{{ booking.id }}",
    "{{ booking.expected_end_at|date:'c' }}"
);

</script>


{% endblock %}
